extends layout

block content
  div.container
    div.page-header
      h1
        | Sensor Stream
    table.display.table-bordered.table-hover.table-condensed#sensorstream(cellspacing="0", width="100%")
      thead
        tr
          th
            | Time
          th
            | Value
